.control {
  
  margin-left: 1px;
  transition: color 150ms ease;
  

  
  &[data-active] {
    color: white;
    border-left: 1px solid white;
    margin-left: 0px;
    transition: color 150ms ease;
  }

}

.control:hover {
  color: white;
  transition: color 150ms ease;
}