# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage
**/jobs
**/rawgerbers
**/artwork

# production
frontend/GRX**
discard**

# misc
.DS_Store
.env
.env.development
.env.production
npm-debug.log
package-lock.json
.idea
