body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

html,
body {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  overscroll-behavior-x: none;
  font-size: 14px;
}

.main::before {
  position: fixed;
  content: "";
  inset: 0;
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, color-mix(in oklab, var(--foreground) 8%, transparent) 1px, transparent 1px),
    linear-gradient(to bottom, color-mix(in oklab, var(--foreground) 8%, transparent) 1px, transparent 1px);
  mask-image: radial-gradient(circle at top, black 24%, transparent 78%);
}

#root {
  min-height: 100vh;
  width: 100vw;
}
